/* color
  header: #255ee9
  main: #f6f6f6
  footer: #23272a  */

/*--------------
    RESET
---------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*--------------
    GENERAL
---------------*/

html {
  font-family: 'Open Sans', sans-serif;
  color: white;
}

h1 {
  font-size: 2.5rem;
  padding-bottom: 30px;
}

p {
  font-size: 1.1rem;
  line-height: 1.8;
  /* margin-bottom: 50px; */
}

a {
  color: white;
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Link Button */
.btn {
  background-color: white;
  border-radius: 100px;
  color: black;
}

.btn.small {
  padding: 8px 10px;
}

.btn.big {
  padding: 12px 20px;
  font-size: 1.2rem;
  margin: 0 10px;
}

.btn.big.black {
  background-color: black;
  color: white;
}

/* Flex */
.row {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}

.centered {
  align-items: center;
}

/* Debug*/
.debug {
  border: 2px dotted brown;
}

/*--------------
    HEADER
---------------*/

/* Header topbar */
.topbar {
  padding: 20px 0;
  background-color: #255ee9;
}

.topbar-content {
  justify-content: space-between;
}

.menu {
  gap: 30px;
}

/* Header jumbotron */
.jumbotron {
  height: 500px;
  padding: 130px 0 50px 0;
  background-image: url(/img/jumbo.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}

.jumbotron-content {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

.jumbotron-button {
  padding: 30px 0;
}

/*--------------
    MAIN
---------------*/

main section {
  padding: 50px 0;
}

main section.section-grey {
  background-color: #f6f6f6;
}

main section > * {
  height: 300px; /**/
}

main section:last-child > * {
  height: 400px; /**/
  background-color: lightgreen;  /**/
}

.img {
  background-color: lightskyblue;  /**/
  width: 60%;
}

.text {
  background-color: pink;  /**/
  width: 40%;
}

/*--------------
    FOOTER
---------------*/

footer {
  background-color: #23272a;
  padding: 30px 0;
}

.info {
  height: 400px; /**/
  margin-bottom: 20px;
}

.info .social {
  background-color: lightcoral; /**/
  flex-basis: 30%;
}

.info .info-content {
  background-color: lightseagreen; /**/
  flex-basis: calc(70% / 4);
}

.signin {
  background-color: lightsalmon; /**/
  border-top: 5px solid white;
  padding: 20px 0;
  justify-content: space-between;
}

.signin > * {
  padding: 10px;
}